/* ==UserStyle==
@name           mastodon
@namespace      cybergene.dev/userstyles
@version        1.0.0
@description    user style for mastodon
@author         cybergene
@updateURL      https://raw.githubusercontent.com/cyber-gene/UserStyles/main/css/mastodon.user.css
==/UserStyle== */

@-moz-document domain("mstdn.ikebuku.ro") {
    /* ここにコードを挿入... */
    .custom-emoji {
        width: auto !IMPORTANT;
    }
}